<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.officeName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="classroom">
    <th mat-header-cell *matHeaderCellDef>Classroom</th>
    <td mat-cell *matCellDef="let element">{{ element.classroomId }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="exam">
    <th mat-header-cell *matHeaderCellDef>Exam</th>
    <td mat-cell *matCellDef="let element">
      {{ element.actions[0].examName }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.actions[0].date + " - " + element.actions[1].date }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="people">
    <th mat-header-cell *matHeaderCellDef>People</th>
    <td mat-cell *matCellDef="let element">{{ element.actions[0].people }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="decision">
    <th mat-header-cell *matHeaderCellDef>Decision</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="desicion" (click)="approve(element.id)" *ngIf="element.status == 0">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button aria-label="desicion" (click)="reject(element.id)" *ngIf="element.status == 0">
        <mat-icon>close</mat-icon>
      </button>
      <span *ngIf="element.status == 1">Accepted</span>
      <span *ngIf="element.status == 2">Declined</span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
