<mat-toolbar color="primary" class="app-header">
  <div><a href="#" class="positronx">UStudy Exam Scheduler</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="signin" routerLinkActive="active" class="positronx" *ngIf="!user">Войти</a>
    <a mat-button routerLink="admin" routerLinkActive="active" class="positronx" *ngIf="isAdmin">Панель администратора</a>
    <a mat-button *ngIf="user" routerLinkActive="active" class="positronx" (click)="openDialog()">Добавить экзамен</a>
    <a mat-button class="positronx" *ngIf="user" (click)="openExamDialog()">Регион: {{user.regionName}}</a>
    <a mat-button routerLink="signin" routerLinkActive="active" class="positronx" *ngIf="user" (click)="logout()">Выйти из системы</a>
  </span>
</mat-toolbar>

<router-outlet (activate)="onActivate($event)"></router-outlet>