<h1 mat-dialog-title>Добавить новый экзамен</h1>
<mat-dialog-content [formGroup]="form" fxLayout="column">
  <mat-form-field>
    <mat-select placeholder="Выбор офиса" formControlName="office" (ngModelChange)="changeData($event)">
      <mat-option *ngFor="let office of offices" [value]="office.id">
        {{office.name}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Выбор аудитории" formControlName="classroom" [disabled]="notSelected" >
      <mat-option *ngFor="let classroom of filteredClassrooms" [value]="classroom.id">
        "Аудитория на {{ classroom.capacity }} мест"</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Выбор экзамена" formControlName="exam">
      <mat-option *ngFor="let exam of exams" [value]="exam.id">
        {{ exam.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker" formControlName="start" />

    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>

    <ngx-mat-datetime-picker
      #picker
      [showSpinners]="showSpinners"
      [minDate]="minDate"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [color]="color"
      [enableMeridian]="enableMeridian"
      [disableMinute]="disableMinute"
      [hideTime]="hideTime"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker1" formControlName="end" />

    <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #picker1
      [showSpinners]="showSpinners"
      [minDate]="minDate"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [color]="color"
      [enableMeridian]="enableMeridian"
      [disableMinute]="disableMinute"
      [hideTime]="hideTime"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field>
    <input
      type="number"
      matInput
      placeholder="Количество мест"
      formControlName="peopleCount"
    />
  </mat-form-field>
  <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isError"
        >
          Error: {{ errorMessage }}
        </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Закрыть</button>

  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">Подтвердить</button>
</mat-dialog-actions>
