<h1 mat-dialog-title>Добавить новый экзамен</h1>
<mat-dialog-content fxLayout="column" [formGroup]="form">
    <mat-select placeholder="Выбор офиса" formControlName="officeId" (ngModelChange)="changeData($event)">
        <mat-option *ngFor="let office of offices" [value]="office.id">
            {{office.name}}
        </mat-option>
    </mat-select>
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Allowed Exams</mat-label>
        <mat-chip-list #chipList aria-label="Exams section" [disabled]="notSelected">
            <mat-chip *ngFor="let exam of filteredExams" [selectable]="selectable" [removable]="removable"
                (removed)="remove(exam)">
                {{exam.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Добавить экзамен</mat-label>
        <mat-select formControlName="examId" [disabled]="notSelected">
          <mat-option *ngFor="let exam of exams" [value]="exam.id">
            {{exam.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="mat-raised-button mat-primary" (click)="add()" [disabled]="!form.valid">Добавить</button>
      <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isError"
        >
          Error: {{ errorMessage }}
        </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Закрыть</button>
</mat-dialog-actions>